.navBar {
    color: #333333;
    width: 100%;
    outline: none;
    box-shadow: 0px 6px 10px rgba(196, 199, 204, 0.6);
    .hiof {
        margin-left: 20px;
        font-weight: 900;
    }
    .user {
        margin-right: 20px;
    } 
}